<div class="row align-items-center justify-content-center">
  <div class="card ">
    <img class="card-img-top" src="../assets/logo.png" alt="Card image cap" width="180px" height="200px">
    <div class="card-body">
      <h2 class="card-title text-center">Inicia Sesión</h2>
      <form>
        <div class="form-group">
          <label for="mail">Correo:</label>
          <input class="form-control" type="email" name="mail" value="">
        </div>
        <div class="form-group">
          <label for="pw">Contraseña:</label>
          <input class="form-control" type="password" name="pw" value="">
        </div>
        <div class="text-center">
          <a type="button" class="btn btn-success btn-lg" [routerLink]="['/dashboard']">Ingresar</a>
        </div>
        <br>
        <p class="text-center">¿No tienes cuenta? <a [routerLink] = "['/register']">Registrate</a></p>
      </form>
    </div>
  </div>
</div>
