<div class="row">
  <div class = "titulo-tabla col-md-12">
    <h3>Especie</h3>
  </div>
  <!-- crear especie -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- llamada base -->
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12">
    <p class = "anuncio-texto">No hay especies</p>
  </div>
</div>
<div class="row">
  <div class = "titulo-tabla col-md-12">
    <h3>Cultivo</h3>
  </div>
  <!-- crear cultivo -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- llamada base -->
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12">
    <p class = "anuncio-texto">No hay cultivos</p>
  </div>
</div>
<div class="row">
  <div class = "titulo-tabla col-md-12">
    <h3>Recursos</h3>
  </div>
  <!-- crear recurso -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- llamada base -->
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12">
    <p class = "anuncio-texto">No hay recursos</p>
  </div>
</div>
