<div class="row">
  <div class = "titulo-tabla col-md-12">
    <h3>Zonas</h3>
  </div>
  <!-- crear especie -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="zonas">
      <tr *ngFor="let z of lista_zonas;">
        <th>{{z.name}}</th>
        <th>Opciones</th>
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12" *ngIf="!zonas">
    <p class = "anuncio-texto">No hay zonas</p>
  </div>
</div>
<div class="row">
  <div class = "titulo-tabla col-md-12">
    <h3>Subzonas</h3>
  </div>
  <!-- crear zona -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Zona</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody >
      <tr>
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12">
    <p class = "anuncio-texto">No hay subzonas</p>
  </div>
</div>
