<div class="row">
  <div class = "titulo-tabla col-md-2">
    <button type="button" class="btn btn-primary">Agregar</button>
  </div>
  <div class = "titulo-tabla col-md-10">
    <h3>Zonas</h3>
  </div>
  <!-- crear especie -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="zonas">
      <tr *ngFor="let z of lista_zonas;">
        <th>{{z.name}}</th>
        <th>
          <button type="button" class="btn btn-warning">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </th>
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12" *ngIf="!zonas">
    <p class = "anuncio-texto">No hay zonas</p>
  </div>
</div>
<div class="row">
  <div class = "titulo-tabla col-md-2">
    <button type="button" class="btn btn-primary">Agregar</button>
  </div>
  <div class = "titulo-tabla col-md-10">
    <h3>Subzonas</h3>
  </div>
  <!-- crear zona -->
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Zona</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="i_zones">
      <tr *ngFor = "let s of i_zones;">
        <th>{{ s[0].name}}</th>
        <th>{{ s[1].name }}</th>
        <th>
          <button type="button" class="btn btn-warning">Editar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </th>
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12" *ngIf="!i_zones">
    <p class = "anuncio-texto">No hay subzonas</p>
  </div>
</div>
