<div class="row" >
  <div class="col-md-12">
    <h2>{{teams[3].name}}</h2>
    <p>{{teams[3].description}}</p>
  </div>
</div>
<div class="row">
  <div class="titulo-tabla col-md-12">
    <h3>Integrantes</h3>
  </div>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let u of roles;">
      <tr>{{u.user.name}} {{u.user.lastname}}</tr>
      <tr>{{u.user.correo}}</tr>
      <tr></tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12">
    <p class = "anuncio-texto">No hay integrantes</p>
  </div>
</div>
