<div class="row" >
  <div class="col-md-12">
    <h2>{{teams.name}}</h2>
    <p>{{teams.description}}</p>
  </div>
</div>
<div class="row">
  <div class="titulo-tabla col-md-12">
    <h3>Integrantes</h3>
  </div>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="users">
      <tr *ngFor="let u of lista;">
        <th>{{ u.name +" "+ u.lastname }}</th>
        <th>{{ u.correo }}</th>
        <th><button type="button" class="btn btn-danger" (click)="deleteRole(u.id)">Eliminar</button></th>
      </tr>
    </tbody>
  </table>
  <!-- si no hay valores -->
  <div class = "anuncio col-md-12" *ngIf="!users">
    <p class = "anuncio-texto">No hay integrantes</p>
  </div>
</div>
