<div class="jumbotron">
    <h2 class="display-3">Zonas</h2>
    <hr class="my-4">
    <label>
      Name:
      <input type="text" [formControl]="name">
    </label>
    <p class="lead">
      <button (click)="getAllZones()">getAllZones()</button>
      
      <button (click)="getZone()">getZone()</button>
      <button (click)="createZone()">createZone()</button>
      <button (click)="updateZone()">updateZone()</button>
      
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  
 
  <!--div class="jumbotron">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </div-->