.titulo-tabla {
  text-align: center;
}
.anuncio {
  padding-top: 5px;
  padding-bottom: 10px;
}
.anuncio-texto {
  text-align: center;
  font-weight: bold;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}
