<div class = "row">
  <div class = "col-md-6">
    <div class="row">
    <!-- Activities -->
      <div class = "titulo-tabla col-md-12">
        <h3>Actividades</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Inicio</th>
            <th>Realizado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="act">
          <tr *ngFor="let a of act;">
            <th>{{a[1].name}}</th>
            <th>{{a[1].fechaInicio}}</th>
            <th>{{a[1].terminado}}</th>
            <th><button type="button" class="btn btn-danger" (click)="deleteActividad(a[1].id)">Eliminar</button></th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!act">
        <p class = "anuncio-texto">No hay actividades</p>
      </div>
    </div>
  </div>
  <div class = "col-md-6">
    <div class = "row">
      <!-- estado camas -->
      <div class = "titulo-tabla col-md-12">
        <h3>Cultivos</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Zona</th>
            <th>Subzona</th>
            <th>Cultivo</th>
            <th>Salud</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="cultivos">
          <tr *ngFor="let c of cultivos;">
            <th>{{c[0].name}}</th>
            <th>{{c[1].name}}</th>
            <th>{{c[3].name}}</th>
            <th>{{c[2].salud}}</th>
            <th><button type="button" class="btn btn-danger" (click)="deleteCultivo(c[3].id)">Eliminar</button></th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!cultivos">
        <p class = "anuncio-texto">No hay cultivos</p>
      </div>
    </div>
    <div class = "row">
      <!-- estado animales -->
      <div class = "titulo-tabla col-md-12">
        <h3>Animales</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Camada</th>
            <th>Salud</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="animales">
          <tr *ngFor="let u of animales;">
            <th>{{u[1].name}}</th>
            <th>{{u[1].salud}}</th>
            <th><button type="button" class="btn btn-danger" (click)="deleteAnimal(u[1].id)">Eliminar</button></th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!animales">
        <p class = "anuncio-texto">No hay animales</p>
      </div>
    </div>
  </div>
</div>
