<div class = "row">
  <div class = "col-md-6">
    <div class="row">
    <!-- Activities -->
      <div class = "titulo-tabla col-md-12">
        <h3>Actividades</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Asignado</th>
            <th>Inicio</th>
            <th>Realizado</th>
          </tr>
        </thead>
        <tbody *ngIf="act">
          <tr *ngFor="let u of act;">
            <th>{{u[1].name}}</th>
            <th>{{u[0].name+" "+u[0].lastname}}</th>
            <th>{{u[1].fechaInicio}}</th>
            <th>Bools</th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!act">
        <p class = "anuncio-texto">No hay actividades</p>
      </div>
    </div>
  </div>
  <div class = "col-md-6">
    <div class = "row">
      <!-- estado camas -->
      <div class = "titulo-tabla col-md-12">
        <h3>Cultivos</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Zona</th>
            <th>Subzona</th>
            <th>Cultivo</th>
            <th>Salud</th>
          </tr>
        </thead>
        <tbody *ngIf="cultivo">
          <tr *ngFor="let u of cultivo;">
            <th>{{u[0].name}}</th>
            <th>{{u[1].name}}</th>
            <th>{{u[2].name}}</th>
            <th>Salud :v</th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!cultivo">
        <p class = "anuncio-texto">No hay cultivos</p>
      </div>
    </div>
    <div class = "row">
      <!-- estado animales -->
      <div class = "titulo-tabla col-md-12">
        <h3>Animales</h3>
      </div>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Camada</th>
            <th>Animal</th>
            <th>Salud</th>
          </tr>
        </thead>
        <tbody *ngIf="animales">
          <tr *ngFor="let u of animales;">
            <th>{{u[1].name}}</th>
            <th>{{u[0].name}}</th>
            <th>Aqui va la salud</th>
          </tr>
        </tbody>
      </table>
      <!-- si no hay valores -->
      <div class = "anuncio col-md-12" *ngIf="!animales">
        <p class = "anuncio-texto">No hay animales</p>
      </div>
    </div>
  </div>
</div>
