<div class = "row">
  <div class = "col-md-6">
    <!-- Activities -->
    <h3>Actividades</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Actividad</th>
          <th>Asignado</th>
          <th>Inicio</th>
          <th>Termino</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- llamada base -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class = "col-md-6">
    <div class = "row">
      <!-- estado camas -->
      <h3>Cultivos</h3>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Zona</th>
            <th>subzona</th>
            <th>Cultivo</th>
            <th>Salud</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- llamada base -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "row">
      <!-- estado animales -->
      <h3>Animales</h3>
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Camada</th>
            <th>Animal</th>
            <th>Salud</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- llamada base -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
