<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GranjApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <!--<ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>-->
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" routerLink="/" (click)= "onClickLogout()">Salir</a>
      </li>
      <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuración</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
        </li>-->
    </ul>
    </div>
  </nav>
